body{
	background-color:black;
}

#main{
	background-color:aqua;
	height:400px;
	width:800px;
	margin:0 auto;
	text-align:center;
	border:10px;
}

#btn{
	height:50px;
	width:300px;
	font-size:20px;
	background-color:bisque;
}

#output{
	font-size:20px;
	color:red;
	margin:15px auto;
}
