body 
	{
		background-color: black;
	}
/*.body{
	background-color:white;
	height:1000px;
	width:100%;
}*/
h1   
	{
	font-size:60px;
	text-align:left;
	color:crimson;
	font-family:georgia;
	}
h2
	{
		color:white;
		text-align:left;
		font-size:45px;
	}
h3{
	font-size:30px;
	color:white;
	text-align:left;
}
p    
	{
		color: white;
		font-size:22px;
	}
a {
	color:white;
	font-weight:bold;
	font-size:20px;
}
	ul{
		display:flex;
		float:right;
		list-style-type:none;
		overflow:hidden;
		width:50%;
	}
	ul li{
	float:right;
	text-align:center;
	border:1px solid white;
	background-color: black;
	opacity:0.8;
	font-family:times;
	padding:7px
	margin-right:2px;
	width:50%;
	}

	ul li a{text-decoration:none; 
		color:white;}

	.home{background-color:brown;}

	ul li:hover{background-color:brown;}	

	.fb{
	position:fixed;
	top:23%;
	right:0%;
	width:50px;
	height:50px;
}

.twitter{
	position:fixed;
	top:30%;
	right:0%;
	width:50px;
	height:50px;
}

.instagram{
	position:fixed;
	top:37%;
	right:0%;
	width:50px;
	height:50px;
}

	.padding{
	/*position:fixed;*/
    color:white;
    width:20%;
    height:50%;
	padding:20rem !important;
	left:750px;
	top:10px;
	opacity:80%;
	}

	.free-quote{
		background:navy;
		padding:30px 50px;
		color: rgba(255,255,255,0.6);
		font-size:15px;
		min-width:100%;
		min-height:100%;
	}
	.heading{
		font-size:40px;
		text-transform:uppercase;
		color:#fff;
	}
	.free-quote .form-control{
		border:2px solid rgba(255,255,255,0.5);
		background:none;
		color:#fff;
	}
	.form-control{
		height:43px;
		border-radius:0;
	}
	.free-quote .form-control:focus{
		border:2px solid #fff;
	}
	.btn-primary{
		color:#212529;
		background-color:#fb8c00;
		border-color:#f89d13;
		border:2px solid transparent;
		text-transform:uppercase;
		letter-spacing:.2em;
		border-radius:0;
	}

	.btn-primary:hover{
		border:2px solid #fb8c00;
		background:none !important;
		color:#fff !important;
	}

@media screen and (max-width: 768px) {
    body { width:100%; margin:0; border:none;
    }
}